body {
  background-color: #25292c;
}
div {
  /* border-color: black; */
  /* border-style: solid; */
  /* border-width: 2px; */
  margin: 3px;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}
/*! ----------- LOGO STYLING START ----------- */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover  {
  filter: drop-shadow(0 0 2em #fcee09);
}
p.navBarLabels:hover{
  filter: drop-shadow(0 0 1em #fcee09);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
/*! ---------- HEADER STYLING START ---------- */

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2f3438;
  padding-bottom: 7.5px;
}
.logo {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-height: 57.5px;
}
p.siteNameText {
  margin: 10px;
  font-size: 25px;
  font-weight: 700;
}
.navBarMaster {
  justify-content: flex-end;
  margin-right: 20px;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p.navBarLabels {
  margin: 10px;
  align-items: flex-end;
  padding-top:10%;
  padding-bottom:0%;
}
/*! -------- REGISTER BANNER STYLING --------- */
.regBannerMessageAndButton{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.regRedirectButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  height: 25px;
  margin:15.5px;
}
.regBanner{
  background-color: #2f3438a8;
  width: 100%;
  margin: 0px;
}
.regBannerText{
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
button.regBannerButton:hover{
  font-size: .75rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #5dbd26;
  filter: drop-shadow(0 0 2em #5dbd26);
  background-color: #2f3438;
}
button.regBannerButton{
  font-size: .75rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 30px;
  background-color: #2f3438;
}
button.regCloseButton:hover{
  font-size: .75rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #991f3d;
  filter: drop-shadow(0 0 2em #991f3d);
  background-color: #2f3438;
}
button.regCloseButton{
  font-size: .75rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 30px;
  background-color: #2f3438;
}
/*! ------ REGISTER FORM STYLING START ------- */
.loginFormDiv,
.registrationFormDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.loginForm,
.registrationForm {
  max-height: 700px;
  max-width: 700px;
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #2f3438;
  border-width: 2px;;
  border: #ffffff;
  border-style: solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.registrationFormMessage{
color: #c57907;
}
.loginLabels,
.regLabels{
  margin: 10px;
}
.loginInputs,
.regInputs { 
  font-family: 'Times New Roman', Times, serif;
}
.loginLabels > input,
.regLabels > input {
  font-size: 15px;
  font-weight: 600;
  font-family: Source;
  border-radius: 5px;
  background-color: #2f3438;
}
/***************** Name Fields *****************/
.nameInputs{
  color: #5dbd26
}
.nameFields{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}
/************ Street Address1 Fields ***********/
.streetAddressInput{
color: #991f3d;
}
.streetAddress1 > .regLabels > .street1Input{
  width:450px;
}
.aptInput {
  width: 160px;
}
.streetAddress1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}
/************ Street Address2 Fields ***********/
.cityAddressInput{
color: #0ec0c0;
}
.streetAddress2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}
/************* Contact Info Fields *************/
.contactInputs{
color: #b216f0;
}
.contactInfo2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}
/************ Credential Info Fields ***********/
.credInputs{
  color: #fcee09;
  margin-left: 15px;
  margin-right: 30px;
}
.createCredentials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
}
/*********** Registration Form Buttons *********/
.regFormButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
}
.button1{
  margin-right: 35px;
  background-color:#5dbd26;
  color: #2f3438;
  border-radius: 15px;
}
.button1:hover{
  margin-right: 35px;
  background-color:#2f3438;
  color: #5dbd26;
  border-radius: 15px;
}
.button2{
  margin-left: 35px;
  /* background-color: #991f3d; */
  background-color: #c57907;
  color: #2f3438;
  border-radius: 15px;
}
.button2:hover{
  margin-left: 35px;
  background-color: #2f3438;
  /* color: #991f3d; */
  color: #c57907;
  border-radius: 15px;
}
/*! ---------- FOOTER STYLING START ---------- */
.footer {
  left: 0%;
  bottom: 0%;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: #2f3438;
  flex-direction: column;
  color: #a1a1a1;
}
.collapseFooterButton{
  font-size: 20px;
  font-weight: bolder;
  color: #991f3d;
}
.footerLinkSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.collapsedFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-around;
  background-color: #2f3438;
  color: #a1a1a1;
  position: fixed;
  bottom: 0%;
  left: 0%;
}
.collapsedFooterParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sectionLinks, 
.collapedLinksTitle {
  width: 20%;
}

.expanded>h3.linksTitle,
.footerLinks{
  margin: 10px;
  text-align: left;
}
p.hideExpandMessage{
  margin: 0px;
}
.getToKnowUs .pLink:hover {
  color: #b216f0;
}
.membershipFeatures .pLink:hover {
  color: #0ec0c0;
}
.giftCardInfo .pLink:hover {
  color: #c57907;
}
.manageAccount .pLink:hover {
  color: #5dbd26
}
.sectionLinks > a{
  text-decoration: none;
  color: #a1a1a1;
}
.navBar > a,
.logo > a {
  text-decoration: none;
  color: #fcee09;
}
.collapedSocialMediaLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.returnPolicyArticle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 65px;
}
.articleDiv{
  max-width:66%;
  margin-left: 17.5%;
  margin-right: 17.5%;
}
.sectionHeaders{
  color: #fcee09;
  margin-bottom: 7.5px;
}
p.body{
  color: #fcee09;
  text-align: center;
}
.retrunHome{
  text-decoration: none;
  color: #fcee09;
  color: #c57907;
}


