/* ! COLOR SCHEME */
/* 
Yellow:
color: #fcee09

Green: 
color: #5dbd26

Red: 
color: #991f3d;

Orange: 
color: #c57907;

Teal: 
color: #0ec0c0;

Purple: 
color: #b216f0;

Banner Blue: 
color: #2f3438

Background Blue:
background-color: #25292c; 
*/